<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>
</head>
<body>
    <header>
        <h1>Xhopii</h1>
        <h2>Sair</h2>
        <ul>
            <li>Home</li>
            <li>Cadastro Cliente</li>
            <li>Cadastro Funcionário</li>
            <li>Cadastro Produto</li>
            <li>Ver Clientes</li>
            <li>Ver Funcionários</li>
            <li>Ver Produtos</li>
        </ul>
    </header>
    <main>
        <nav>
            <h1>Cadastrar Cliente</h1>
            <form action="">
                <label for=""></label>
                <input type="nome">
                <label for=""></label>
                <input type="sobrenome">
                <label for=""></label>
                <input type="CPF">
                <label for=""></label>
                <input type="date">
                <label for=""></label>
                <input type="number">
                <label for=""></label>
                <input type="email">
                <label for=""></label>
                <input type="senha">
            </form>
            <h2>Selecionar foto de perfil:</h2>
            <button>Escolher arquivo</button>
            <button>CADASTRAR</button>
        </nav>
    </main>
    <footer></footer>
</body>
</html>