<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css" alt="estilocss">
        <title>Produto</title>
    </head>
    <body>
        <header class="topo">
            <nav>
                <img src="assets/imagem/logo.png" alt="logo">
                <h1>Xhopii</h1>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Cadastro Cliente</a></li>
                    <li><a href="">Cadastro Funcionário</a></li>
                    <li><a href="">Cadastro Produto</a></li>
                    <li><a href="">Ver Clientes</a></li>
                    <li><a href="">Ver Funcionários</a></li>
                    <li><a href="">Ver Produtos</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="produto-imagem">
                <aside>
                    <img src="../imagem/produto1.png" >
                    <img src="../imagem/produto2.png" >
                    <img src="../imagem/produto3.png" >
                    <img src="../imagem/produto4.png" >
                    <img src="../imagem/produto5.png" >
                </aside>
                <figure class="produto-principal">
                    <img id="imgPrincipal" src="../assets/imagem/produto1.png" alt="">
                </figure>
                <Article class="produto-info">
                    <h2>Camisa Desenvolvedor Front-End CSS</h2>
                    <p class="preco">R$ 56,90</p>
                    <p>171 peças disponiveis</p>
                    <p>Modelos:</p>
                    <form action="">
                        <label for="Preto">Preto</label>
                        <input type="text">
                        <label for="Azul">Azul</label>
                        <input type="text">
                        <label for="Verde">Verde</label>
                        <input type="text">
                        <label for="Cinza">Cinza</label>
                        <input type="text">
                        <label for="Rosa">Rosa</label>
                        <input type="text">
                    </form>
                    <p>Tamanhos</p>
                    <form action="">
                        <label for="P">P</label>
                        <input type="text">
                        <label for="M">M</label>
                        <input type="text">
                        <label for="G">G</label>
                        <input type="text">
                        <label for="GG">GG</label>
                        <input type="text">
                    </form>
                    <button>Compre Agora</button>
                </Article>
            </section>
        </main>
        <footer>

        </footer>
    </body>
    </html>