<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
</head>
<body>
    <header>
        <h1>Xhopii</h1>
        <h1>Redefinir Senha</h1>
        <p>Precisa de ajuda?</p>
    </header>
    <main>
        <nav>
            <h2>Redefinir senha</h2>
            <label for="Email"></label>
            <input type="email">
            <button>ENVIAR</button>
        </nav>
    </main>
    <footer>

    </footer>
</body>
</html>